# Dependencias runtime
pandas>=2.0.0
openpyxl>=3.1.0
xlsxwriter>=3.0.0
rich>=13.0.0
requests>=2.31
fastapi>=0.100.0
uvicorn[standard]>=0.23.0
python-multipart>=0.0.6
sqlalchemy>=2.0.0
psycopg2-binary>=2.9.9
passlib[bcrypt]>=1.7.4
bcrypt==4.0.1
python-jose[cryptography]>=3.3.0